:root {
	--color-primary: #222831;
	--color-secondary: #f2f2f2;
	--color-accent-1: #393e46;
	--color-accent-2: #f96d00;
}

html, body {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

a {
	color: var(--color-accent-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
